<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750017875970-avi0mdkt8arjetgdctljqpr7jiqb0fjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750017875970-avi0mdkt8arjetgdctljqpr7jiqb0fjf</string>
	<key>API_KEY</key>
	<string>AIzaSyDTM4Kd4TEA7CRJK7YB7NL5GJIxkWDAZyk</string>
	<key>GCM_SENDER_ID</key>
	<string>750017875970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ipleiria.ios2.localhost</string>
	<key>PROJECT_ID</key>
	<string>localhost-2861e</string>
	<key>STORAGE_BUCKET</key>
	<string>localhost-2861e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750017875970:ios:4815c09cbda3595e9fd71b</string>
	<key>DATABASE_URL</key>
	<string>https://localhost-2861e.firebaseio.com</string>
</dict>
</plist>